.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    border-radius: 3%; /* Ajusta el borde redondeado */
    max-width: 5xl; /* Ajusta el ancho máximo max-width: 64rem;*/
    background-color: #f7f7f7; /* Cambia el color de fondo */
    height: 100%; /* Ajusta la altura a la altura de la ventana */
    /* Ajusta los márgenes */
    margin: 2.5rem auto; /* Usa auto para centrar horizontalmente */
}

.redes {
    font-family: Arial, sans-serif;
    padding: 2%;
    background-color: #f0f0f0;
    border-radius: 2%;
    margin-bottom: 4%;
}

.container {
    /* Otros estilos según sea necesario, como posición, tamaño, etc. */
    display: flex;
    align-items: center;
    max-width: 90%; /* Ajusta el ancho máximo al 100% */
    margin: 0 auto;
    padding: 2%;
    background-color: #f8f8f8;
    border-radius: 2%;
    box-shadow: 0 0 2% rgba(0, 0, 0, 0.1);
}

.image {
    flex-shrink: 0; /* Evita que la imagen se encoge para ajustarse */
    margin-left: auto; /* Espacio entre el contenido y la imagen, mueve la imagen hacia la derecha  */
    width: 30%;
    height: auto; /* Opcional, ajusta la altura al 100% si deseas mantener la proporción 100px */
    object-fit: contain; /* Ajusta el contenido dentro del contenedor manteniendo su proporción */
    border-radius: 10%;

}

.titulo{
    flex-grow: 1; /* Permite que el título ocupe el espacio restante */
    font-size: 4vw;
    font-weight: bold;
    color: #333;
    text-align: center; /* Alinea el texto a la izquierda */
    text-transform: uppercase;
    margin-right: 2%; /* Añade un espacio entre el título y la imagen */
}

.lista {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    padding: 0;
    text-align: center;
    margin: auto;
}

.lista li {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-bottom: 2%;
    width: 48%;
    border-radius: 3vw;
}

.lista li a {
    text-decoration: none;
    color: #333;
}

.lista li a:hover {
    color: #007bff;
}

.lista li i {
    font-size: 4vw; /* Cambia el tamaño de los iconos */
}

@media screen and (max-width: 768px) {
    .image {
        width: 50%; /* Cambia el ancho de la imagen al 50% del contenedor en dispositivos con un ancho de pantalla máximo de 768px */
    }
    .lista li {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        text-align: center; /* Centra el texto */
    }

}
