@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(135deg, #004d00, #4B0082);
}

main {
  @apply flex flex-col items-center justify-center
    bg-gray-100
    h-screen
    my-10 mx-auto
    max-w-5xl;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 30px; /* Ajusta el borde redondeado */
  max-width: 5xl; /* Ajusta el ancho máximo max-width: 64rem;*/
  background-color: #f7f7f7; /* Cambia el color de fondo */
  height: 100%; /* Ajusta la altura a la altura de la ventana */
  overflow: auto; /* o overflow: hidden; */
  /* Ajusta los márgenes */
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* nav styles */
nav {
  @apply pb-4 border-b-2 border-gray-200 flex my-10 mx-auto max-w-5xl;
  text-transform: uppercase;
}

.nav-links {
  @apply font-bold py-2 px-4;
}

.nav-links a {
  @apply text-white hover:text-black;
  text-decoration: none;
}

nav a,
nav span {
  @apply text-gray-500;
  transition: color 0.5s;
}

nav a:hover {
  @apply text-black;
}

main nav {
  @apply border-0;
}


/* header */
.header {
  background-color: linear-gradient(
    to right,
    rgb(0 0 0 /0.8),
    rgb(0 0 0 / 0.7)
  );
  /* //url(../../../public/banner.jpg); */
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}


/* Clips */
.clips {
  @apply p-4 my-2;
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}

.twitchClips {
  color: #4B0082; /* Morado oscuro */
}

.youtubeClips {
  color: #FF0000; /* Rojo */
}

.tiktokClips {
  color: #000000; /* Negro */
}

.contenedorPrincipal {
    width:100%;
    min-height: 100vh;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor de clips */
.clipContainer {
  @apply flex flex-wrap justify-center items-center p-4;
  border-radius: 3vw;
}

/* Estilos para los elementos de clip */
.clipItem {
  @apply flex justify-center items-center m-2;
  border-radius: 3vw;
}

/* Estilos por defecto para el iframe */
.video-container {
  width: 560px;
  height: 315px;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  position: relative;
}

.white-text {
  color: white;
}

.white-text:hover {
  color: blue;
}

@media (max-width: 768px) {
  main {
    @apply p-4;
  }
  .clips {
    @apply p-2;
    font-size: 4vw;
  }
  nav {
    @apply flex-row justify-between;
  }
  .clipContainer {
    @apply p-2;
  }
  .clipItem {
    @apply m-1;
  }
  .video-container {
    max-width: 80vw;
    height: auto;
  }

}