@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
main {
  @apply flex flex-col items-center justify-center
    bg-gray-100
    h-screen
    my-10 mx-auto
    max-w-5xl;
  border-radius: 30px;
  
}
.main-container {
  @apply flex flex-col items-center justify-center;
  background-color: #f0f0f0; /* Gris claro */
  height: 100vh; /* Altura de la pantalla */
  margin: 10px auto; /* Margen superior e inferior, centrado horizontalmente */
  max-width: 960px; /* Ancho máximo */
  border-radius: 30px; /* Bordes redondeados */
  
}

/* nav styles */
nav {
  @apply pb-4
    border-b-2 border-gray-200
    flex items-center justify-end gap-5
    my-10 mx-auto
    max-w-5xl;
  text-transform: uppercase;
  /* background-color: green; */
}
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

nav-links {
  @apply font-bold py-2 px-4 rounded-lg
  pb-4
  border-b-2 border-gray-200
  flex flex-col justify-end items-end h-full
  my-10 mx-auto
  max-w-5xl;
}

nav-links a {
  @apply text-gray-500 hover:text-black;
}

nav a,
nav span {
  @apply text-gray-500;
  transition: color 0.5s;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}

/* header */

.header {
  background-color: linear-gradient(
    to right,
    rgb(0 0 0 /0.8),
    rgb(0 0 0 / 0.7)
  );
  /* //url(../../../public/banner.jpg); */
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}

/* Clips */
.clips{
  padding: 20px;
  margin: 10px;
  font-size: 1.5em; /* Tamaño de fuente ajustable */
  font-family: Arial, sans-serif; /* Tipo de letra recomendado */
  text-align: center;
}

.twitchClips {
  color: #4B0082; /* Morado oscuro */
  padding: 20px;
  margin: 10px;
  font-size: 1.5em; /* Tamaño de fuente ajustable */
  font-family: Arial, sans-serif; /* Tipo de letra recomendado */
  text-align: center;
}

.youtubeClips {
  color: #FF0000; /* Rojo */
  padding: 20px;
  margin: 10px;
  font-size: 1.5em; /* Tamaño de fuente ajustable */
  font-family: Arial, sans-serif; /* Tipo de letra recomendado */
  text-align: center;
}

.tiktokClips {
  color: #000000; /* Negro */
  padding: 20px;
  margin: 10px;
  font-size: 1.5em; /* Tamaño de fuente ajustable */
  font-family: Arial, sans-serif; /* Tipo de letra recomendado */
  text-align: center;
}

.contenedorPrincipal {
    width:100%;
    min-height: 100vh;
    min-height: 100%;
    border:1px solid red;
    justify-content: center;
    align-items: center;
}

/* Estilos para los contenedores de clips */
.clipContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola línea */
  justify-content: center;
  align-items: center;
  background-color: blue; /* Color de fondo de los contenedores de clips */
  padding: 10px; /* Añade espacio entre los elementos */
  border-radius: 10px;
}

/* Estilos para los elementos de clip */
.clipItem {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  margin: 5px; /* Añade espacio entre los elementos */
  background-color: green; /* Color de fondo de los elementos de clip */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
