@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
main {
  @apply flex flex-col items-center justify-center
    bg-gray-100
    h-screen
    my-10 mx-auto
    max-w-5xl;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.mainxd-container {
  @apply flex flex-col items-center justify-center;
  background-color: #f0f0f0; /* Gris claro */
  height: 100%; /* Altura de la pantalla */
  margin: 10px auto; /* Margen superior e inferior, centrado horizontalmente */
  max-width: 960px; /* Ancho máximo */
  border-radius: 30px; /* Bordes redondeados */
  display: flex;
  min-height: 100%; /* Asegura que el main ocupe al menos toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro del main se apilen verticalmente */
  overflow: auto; /* o overflow: hidden; */

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 30px; /* Ajusta el borde redondeado */
  max-width: 5xl; /* Ajusta el ancho máximo max-width: 64rem;*/
  background-color: #f7f7f7; /* Cambia el color de fondo */
  height: 100%; /* Ajusta la altura a la altura de la ventana */
  overflow: auto; /* o overflow: hidden; */
  /* Ajusta los márgenes */
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* nav styles */
nav {
  @apply pb-4
    border-b-2 border-gray-200
    flex items-center justify-end gap-5
    my-10 mx-auto
    max-w-5xl;
  text-transform: uppercase;
  /* background-color: green; */
}
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

nav-links {
  @apply font-bold py-2 px-4 rounded-lg
  pb-4
  border-b-2 border-gray-200
  flex flex-col justify-end items-end h-full
  my-10 mx-auto
  max-w-5xl;
}

nav-links a {
  @apply text-gray-500 hover:text-black;
}

nav a,
nav span {
  @apply text-gray-500;
  transition: color 0.5s;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}

/* header */

.header {
  background-color: linear-gradient(
    to right,
    rgb(0 0 0 /0.8),
    rgb(0 0 0 / 0.7)
  );
  /* //url(../../../public/banner.jpg); */
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}

/* Clips */
.clips {
  @apply p-4 my-2;
  font-size: 2vw; /* Utiliza vw para ajustar el tamaño de la fuente */
  text-align: center;
}

.twitchClips {
  color: #4B0082; /* Morado oscuro */
}

.youtubeClips {
  color: #FF0000; /* Rojo */
}

.tiktokClips {
  color: #000000; /* Negro */
}

.contenedorPrincipal {
    width:100%;
    min-height: 100vh;
    min-height: 100%;
    border:1px solid red;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor de clips */
.clipContainer {
  @apply flex flex-wrap justify-center items-center p-4;
  border-radius: 3vw; /* Utiliza un valor relativo para el borde redondeado */
}

/* Estilos para los elementos de clip */
.clipItem {
  @apply flex justify-center items-center m-2;
  border-radius: 3vw; /* Utiliza un valor relativo para el borde redondeado */
}

/* Estilos por defecto para el iframe */
.video-container {
  /* Hace que el iframe ocupe todo el ancho del contenedor */
  width: 560px; /* Ancho máximo para el iframe en pantallas normales */
  height: 315px; /* Altura fija del iframe */
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  position: relative;
}


/* Media query para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
  main {
    @apply p-4; /* Ajusta el padding */
  }
  .clips {
    @apply p-2;
    font-size: 4vw; /* Ajusta el tamaño de la fuente */
  }
  nav {
    @apply flex-row justify-between; /* Cambia la dirección de flexión y ajusta la justificación */
  }
  .clipContainer {
    @apply p-2; /* Reducir el padding en dispositivos móviles */
  }
  .clipItem {
    @apply m-1; /* Reducir el margen entre elementos en dispositivos móviles */
  }
  .video-container {
    max-width: 80vw; /* Ancho máximo del iframe en dispositivos móviles */
    height: auto; /* Altura automática del iframe para mantener la proporción */
  }

}